---
layout: default
---

<section class="post">
  <h1>{{ page.title }}</h1>
<style>
	   .rotated {
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        font-family: monospace;
    }
 pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 1em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1em;
    display: block;
    word-wrap: break-word;
    letter-spacing: 1.5px;
}
</style>
<pre class="brush: css notranslate">
<div class="rotated">Advertisement</div>
{% include ads-vertical.html %}
</pre>


  {{ content }}
      

  <span class="meta"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time> &middot; {% for tag in page.tags %}
    <a href="/tags/#{{tag}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</span>

 <hr>
 <h3>Advertisement</h3>
{% include ads-horizontal.html %}
<hr>
{% if site.disqus.shortname %}
          {% include disqus-comments.html %}
        {% endif %}

  
  <!--<span class="meta"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time> &middot; {% for tag in page.tags %}
      <a class="post" href="/tag/{{tag}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</span>
  -->
</section>
{% include lazyload.html %}

